body {
    font-family: "Fantasy", monospace;
    background-image: url("https://media.discordapp.net/attachments/996636341762797650/1000093971147673640/unknown.png?width=660&height=412");
    background-size: cover;

    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 30px;
}

.img {
    border-radius: 50%;
}

.image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.image-cropper img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%;
    margin: 0 0 0 -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.nav-img {
    border-radius: 50%;
}

link {
    font-size: 14px !important;
    background: transparent !important;
    font-family: Lato, sans-serif !important;
    text-transform: capitalize !important;
}

.nav-link:hover {
    background: transparent !important;
    color: #AD91FF !important;
    font-weight: bold !important;
}

.login-btn {
    border: 2px solid #AD91FF !important;
    font-size: 10px !important;
}

.login-btn:hover {
    background: #AD91FF !important;
}

.navbar {
    display: flex;
    /* displays flex-items (children) inline */
    justify-content: space-between;
    /* children are evenly distributed, first child is on the left and last child on the right side */

    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 10px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: #AD91FF !important
}

.btn-secondary {
    background-color: #2C2F33 !important
}

.heading {
    padding: 160px 50px !important;
    color: #fde90d !important;

    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;

    font-family: "Fantasy", monospace;

}

.title {
    font-family: "Fantasy", monospace;
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    font-family: "Fantasy", monospace;
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #000000 !important;
    padding: 60px 50px !important;
    background-image: url("https://media.discordapp.net/attachments/996739743003979786/999736386397687879/unknown.png?width=584&height=413") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #00ff1e !important;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body {
    padding: 0 !important;
    height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-color: black;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent;

    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #AD91FF;
}

.features .card-text {
    color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}

.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #AD91FF !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #a2a8bd !important
}
/* Particle.js background fix */
.page, main, section, .container, .block-heading, .clean-block, .clean-hero, .features, .about-us {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
}
/* Force transparent backgrounds for particles */
.clean-block, .clean-hero, .text, .heading, div {
    background: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
}
